/////////////////////
// containers
/////////////////////

.sg .outer-row {
	padding: 0 5vw;
}
.sg .inner-row {
	padding: 3vw 0 5vw;
	border-bottom: 2px solid $light;
}

.sg .eyebrow {
	margin-top: 40px;
}

.sg .caption {
	margin-top: 15px;
	margin-bottom: 50px;
}



/////////////////////
// titles
/////////////////////

h1.styleguide-title {
	@include ms-respond(font-size, 8);

	font-family: $font-reg;
	font-weight: 200;
	margin-bottom: 2vw;
}



/////////////////////
// colors
/////////////////////

$color-swatch-size: 160px;

.colorset .figure-wrapper {
	display: inline-block;
	margin-bottom: 40px;
	margin-right: 3vw;
}

.colorset {
	figure {
		width: $color-swatch-size;
		height: $color-swatch-size;
		border-radius: 50%;
		margin-bottom: 10px;

		&.primary {
			background-color: $primary;
		}

		&.secondary {
			background-color: $secondary;
		}

		&.warning {
			background-color: $warning;
		}

		&.danger {
			background-color: $danger;
		}

		&.success {
			background-color: $success;
		}

		&.black {
			background-color: $black;
		}

		&.white {
			background-color: $white;
			border: 2px solid $lighter;
		}

		&.darkest {
			background-color: $darkest;
		}

		&.darker {
			background-color: $darker;
		}

		&.dark {
			background-color: $dark;
		}

		&.light {
			background-color: $light;
		}

		&.lighter {
			background-color: $lighter;
		}

		&.lightest {
			background-color: $lightest;
		}

		&.brand-light {
			background-color: $brand-light;
		}

		&.brand-dark {
			background-color: $brand-dark;
		}

		&.brand-accent {
			background-color: $brand-accent;
		}
	}

	figcaption {
		border-top: 2px solid $lighter;
		padding-top: 20px;
		text-align: center;
	}
}

/////////////////////
// input
/////////////////////

input {
	max-width: 30vw;
}