// local mixin
@mixin title() {
	color: $darkest;
	display: block;
	font-weight: 500;
	font-family: $font-reg;
	line-height: 1.1;

	header & {
		color: $white;
	}
}



////////////////////////////
// custom styles
////////////////////////////

// headings

h1,
h2,
h3,
.title-lrg {
	@include ms-respond(font-size, 7);
	@include title;

	font-family: $font-serif;
	font-weight: 400;
	letter-spacing: -1px;
}

h4,
h5,
.title-med {
	@include ms-respond(font-size, 5);
	@include title;

	font-weight: 300;
}

h6,
.title-sml {
	@include ms-respond(font-size, 3);
	@include title;
}

.custom-title {
	@include title();
	font-size: 7vw;

	@include breakpoint($med) {
		font-size: 5vw;
	}

	@include breakpoint($sml) {
		font-size: 3vw;
	}
}



// deck and subhrad

.eyebrow {
	@include ms-respond(font-size, 1);
}

.deck {
	font-family: $font-serif;
	@include ms-respond(font-size, 1);
}

// body
p,
.body {
	@include ms-respond(font-size, 1);
}

// caption

figcaption, .caption, caption {
	@include ms-respond(font-size, 0);
	text-transform: uppercase;
	font-weight: 500;
}