// local mixin
@mixin title() {
	color: $darkest;
	display: block;
	font-weight: 500;
	font-family: $font-reg;
	line-height: 1.1;

	header & {
		color: $white;
	}
}



////////////////////////////
// custom styles
////////////////////////////

// headings

h1,
h2,
h3,
.title-lrg {
	@include ms-respond(font-size, 7);
	@include title;

	font-family: $font-serif;
	font-weight: 400;
	letter-spacing: -1px;
}

h4,
h5,
.title-med {
	@include ms-respond(font-size, 5);
	@include title;

	font-weight: 300;
}

h6,
.title-sml {
	@include ms-respond(font-size, 3);
	@include title;
}

.custom-title {
	@include title();
	font-size: 7vw;

	@include breakpoint($med) {
		font-size: 5vw;
	}

	@include breakpoint($sml) {
		font-size: 3vw;
	}
}



// deck and subhread

.eyebrow,
.section-label {
  @include ms-respond(font-size, 1);

  color: $darkest;
  font-weight: 600;
  margin-bottom: 20px;

  header & {
    color: $white;
  }
}

.accent-eyebrow {
  @include ms-respond(font-size, 1);

  color: $brand-accent;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;

  header & {
    color: $brand-accent-midnight;
  }
}

blockquote,
q {
  @include ms-respond(font-size, 3);

  font-family: $font-serif;
  color: $darker;

  &:before {
    @include ms-respond(font-size, 4);

content: '“';
    color: $primary;
    margin-right: 20px;
  }

  &:after {
    content: '';
  }
}

.deck {
  @include ms-respond(font-size, 2);

  color: $darkest;
  font-weight: 400;
  margin-top: 20px;
  line-height: 1.5;

  header & {
    color: $dark;
  }
}

// body
p,
.body {
	@include ms-respond(font-size, 2);
	color: $darker;
	line-height: 1.5;
}

// caption

figcaption, .caption, caption {
	@include ms-respond(font-size, 0);
	text-transform: uppercase;
	font-weight: 500;
}