//
// Colors
//

// Neutrals

$white: #fff;
$black: #333;

$lightest: #FAFAFC;
$darkest: #343B42;
$lighter: darken($lightest, 3%);
$light: mix($lightest, $darkest, 90.2%);
$dark: mix($lightest, $darkest, 61%);
$darker: mix($lightest, $darkest, 31%);

// Brand

$brand-light: $lighter;
$brand-dark: $darkest;
$brand-accent: #cc7d41;
$brand-accent-midnight: #cc7d41;

// Functional

$primary: #1689FF;
$secondary: $darkest;
$secondary-midnight: $white;
$disabled: #ededed;
$disabled-midnight: #2d3c49;
$warning: #f5a623;
$error: #f85d4b;
$success: #12c87c;

//
// Breakpoints
//

$max-width: 1280px;
$giant-width: 1601px;
$lrg-width: 1600px;
$med-width: 1060px;
$sml-width: 640px;

$max-width: $max-width;
$giant: min-width $giant-width;
$lrg: max-width $lrg-width;
$med: max-width $med-width;
$sml: max-width $sml-width;

//
// Fonts
//

$font-reg: 'graphik', helvetica;
$font-serif: 'publico', helvetica;

// Modular scales

$ms-fluid: false;
$ms-base: 12px;
$ms-ratio: 1.25;

$ms-range:
  1.25 $sml-width,
  1.25 $med-width,
  1.25 $lrg-width,
  1.32 $giant-width;


// Spacing

$base-padding: 10px;

//
// Animations
//

// Duration

$falcon: 150ms;
$chicken: 300ms;
$turtle: 600ms;
$snail: 900ms;

// Easings

$ease-out: cubic-bezier(0.215, 0.61, 0.355, 1);
$ease-out-bounce: cubic-bezier(0.175, 0.885, 0.32, 1.275);

