p Sony had a quiet, more focused CES, but it looks like the company is about to make some waves at Mobile World Congress with its first entry into the growing market of truly wireless earbuds. A press render of a device supposedly called the Sony Smart Ear has surfaced online courtesy of prolific leaker Evan Blass.

p The self-contained wireless earbud is said to be similar to the Moto Hint, which promised a future of tiny, Bluetooth-enabled smart headsets with built-in assistant functionality. That idea was a bit rough around the edges when the Hint came out in 2014, but perhaps Sony has a more complete vision.

q Bluetooth-enabled smart headsets with built-in assistant functionality.

p So-called truly wireless earbuds have been garnering quite a bit of attention over the past year — a couple of Kickstarter-backed ideas have led the charge, and CES last month saw the rise of a few more alternatives from more established players. Apple, meanwhile, is rumored to be developing its own Beats-branded pair to sell alongside its headphone jack-less iPhone 7. Going off the name and image, the Smart Ear will likely be more of a headset (for just one ear) rather than a stereo earbud replacement. If this Sony Smart Ear proves to be legitimate, expect to see it on Monday during Sony's MWC press conference.