p Every time I log into Facebook lately I check the Trending tab on the right side of the screen, not because what’s displayed there is particularly interesting or timely — my feed is generally a mix of politics, celebrity microdrama, and incidents of local mayhem — but because the voice it’s written in is so strangely dry. It’s just a proper noun followed by the densest clinical explanation, like a viral news blotter written by aliens.

p The Trending section’s inability to mention Twitter by name is well known, but it has other quirks, like its penchant for hedging. Videos and photos only ever "appear" to show something, probably a wise guard against hoaxes, even if it's a serious tone to take for some of the lighter things that pop up in the feed. For example, this Disney Princess video couched in the sort of language you might use for ISIS propaganda whose provenance you’re not 100 percent solid on.

q There’s a lot to unpack there.

p There’s a lot to unpack there. Is the writer hedging because they aren't sure whether the video depicts actual clips of Disney princesses? Or because they're not sure whether the translations are accurate? Or are they hedging the very idea that a fictional character could have a native language, like would Ariel's "native language" be Mermish or what? The whole genre of Disney princess counterfactual content can be metaphysically complicated so maybe the hedge was warranted after all.

p Events "surface," they allegedly, reportedly, or appear to happen. This distancing wouldn’t seem out of place on a newswire but it's unusual on Facebook, where the vernacular tends toward the ecstatic or indignant and is casual as a rule. You wouldn’t even have to mention Twitter to come up with a more compelling description of what happened here:

q The dissonance is kind of refreshing; the writing is so restrained

p Unlike everything else on Facebook, the posts in the Trending tab feel almost designed to thwart your curiosity. The dissonance is kind of refreshing; the writing is so restrained, hedging away everything other than the fact that people on Facebook are talking about something that appears to have happened, sometimes seeming to express perplexity at why the algorithm picked this particular item. It’s abstract content, just the names of people and places, followed by a description that’s perfectly precise yet drained of whatever made the item trend in the first place.