p This column is part of a series where Verge staffers post highly subjective reviews of animals. Up until now, we've written about animals without telling you whether they suck or rule. We are now rectifying this oversight.

p This column is part of a series where Verge staffers post highly subjective reviews of animals. Up until now, we've written about animals without telling you whether they suck or rule. We are now rectifying this oversight.

p There are two types of animals in this world: those that terrify me, and those that don’t. Reviewing any animal therefore boils down to one question: "Would I shit my pants if I came face to face with this thing?" When it comes to the blue whale, the answer is an unequivocal "yes."

p Blue whales don’t inspire the sensational, summertime headlines that sharks or killer jellyfish do, and their interactions with humans are exceedingly rare. But there is something inherently scary about the idea of a blue whale — the fact that there’s this mind-bogglingly enormous creature lurking in the deepest reaches of our oceans, far from sight, and that it could come up for air at any moment.

p The numbers alone are enough to put a knot in my stomach. The blue whale can measure up to 100 feet long — the length of three school buses — and weigh 200 tons (that’s eight DC-9 airplanes). Its heart is the size of a Volkswagen Beetle, and its tongue weighs as much as an elephant. A human child could crawl inside its arteries. Nothing needs to be this big.

p "But blue whales are harmless," my friends often say, "they're just gentle giants on the bottom of the ocean!" And that’s true, to a certain extent. Their diet consists of krill (four tons of it per day), and unlike killer whales (which my colleague, Jamieson Cox, glowingly reviewed last year), they don’t actually have teeth.

p But if I were in the middle of the ocean, I would take little comfort in knowing that the giant mass of flesh swimming below me has no explicit intent to eat me. Because again — and I really can’t stress this enough — these things are *huge*, and there’s no telling what could happen when they come up for air. I seriously doubt that they would give a shit about my well-being. Just look at what a (way smaller) humpback whale nearly did to these kayakers:

p That’s not to say that blue whales don’t have some redeeming qualities. The fact that they can communicate with each other from up to 1,000 miles away is genuinely impressive, and there’s something kind of poetic in their solitary behavior (they rarely travel in groups). I’m not saying I want them to disappear, either. There are between 10,000 and 25,000 blue whales swimming across the world today, and the population has been devastated by decades of whaling that accelerated in the early 20th century. They play an important role in stabilizing the ocean’s ecosystems, and losing them would be bad news for animals that I actually like.

p As with most irrational fears, my problem with the blue whale is firmly rooted in the unknown — a combination of its incomprehensible size and natural elusiveness. Maybe if I actually spent time with one — get to know her family, swim a mile in her blubber — I’d feel differently. Maybe if they lived on land, where I could see them coming from far away, I’d have fewer nightmares about getting Moby Dick-ed around at sea. But I haven’t, and they don’t, and until that changes they’ll stay at the bottom of my animal hierarchy. That’s probably where they’re most comfortable anyway.

