<% for ( var i in public.posts._data ) { %>
<section class="outer-row">
	<div class="inner-row">

<ul class="article-listings">
	<li class="article-list">
		<div class="title-sml">
			<a href='/posts/<%= i %>'><%= public.posts._data[i].title %></a>
		</div>
	</li>
</ul>

	</div>
</section>

<% } %>