
<header>
	<div class="inner-row">
		<div class="eyebrow">
			eyebrow
		</div>
		<div class="title-lrg">
			<%= title %>
		</div>
		<% if(mode !== "home") { %>
		<div class="deck">
			<%= deck %>
		</div>
		<% } %>
	</div>
</header>

