p The window has officially passed to turn in your astronaut application for NASA, and the numbers are in: more than 18,300 people applied to be in the 2017 class. That's the most applications NASA has ever received during an astronaut hiring period. In 2012, the space agency received just 6,300 applications. Clearly, interest in going to space has increased since then.

p Are you one of the hopefuls that turned in an application? Let's calculate your odds. After reviewing everyone's applications for 18 months, NASA is only going to pick between eight and 14 people from the pool of applicants. That means you have between a 0.04 percent and 0.08 percent chance of getting selected to go to the next round.

p Of course, that's assuming it's a level playing field. But NASA is looking for people with specific qualifications — including a bachelor's degree in engineering or other particular sciences, as well as 1,000 hours of experience piloting a jet aircraft. You'll know if you're considered a "highly qualified candidate" if NASA calls you in for an interview. The lucky eight to 14 people who will go on to astronaut training will be announced in 2017.

q You'll know if you're considered a "highly qualified candidate" if NASA calls you in for an interview.

p If you do get picked, the good news is you'll get to ride some fun new vehicles into space. The 2017 astronaut class will be taking SpaceX's Dragon crew capsule or Boeing's CST-100 Starliner to the International Space Station. Or you'll ride on the Orion into deeper space, probably around the Moon.

p And if you don't get picked, remember that the future of NASA's crewed spaceflight program is a little murky. The agency's next big rocket, the Space Launch System, is supposed to take people to an asteroid and then on to Mars in the 2030s. But the rocket's first few launches have been hampered by delays. NASA also doesn't have many planned missions set up, and it may suffer a major budget cut. So maybe it's for the best.